layout {
  default_tab_template {
    pane split_direction="vertical" {
      pane {
        cwd "~/src"
      }
    }

    pane size=1 borderless=true {
      plugin location="zellij:compact-bar"
    }
  }
}

