/* Vaporwave color palette */
@define-color soft-blush #ffdede;
@define-color hot-rose #ff9ac1;
@define-color neon-pink #ff71ce;
@define-color neon-purple #b967ff;
@define-color rose #ff6b9d;
@define-color deep-rose #e8506f;
@define-color sunset #ff9a76;
@define-color pastel-yellow #fffb96;
@define-color neon-mint #05ffa1;
@define-color aqua #36d7b7;
@define-color light-cyan #74d0f1;
@define-color neon-cyan #01cdfe;
@define-color indigo #7b68ee;
@define-color soft-purple #c4a7ff;
@define-color vapor-text #e8dff5;
@define-color vapor-dim #d4c8ea;
@define-color vapor-muted #bfb0d9;
@define-color haze-bright #9a8bb5;
@define-color haze #7e6f99;
@define-color haze-dark #63547d;
@define-color plum-light #4d3872;
@define-color plum #3d2b5a;
@define-color plum-dark #2d1f42;
@define-color void #1a1026;
@define-color deep-void #140c1e;
@define-color abyss #0e0816;
